name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  FORCE_COLOR: "1"

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: laytan/setup-odin@v2
        with:
          release: dev-2025-11
      - name: Report
        run: odin report
      - name: Munin test
        run: make test
        timeout-minutes: 1
      # TODO: fix odin check
      # - name: Odin check
      #   if: success() || failure()
      #   run: odin check munin -vet --strict-style
      #   timeout-minutes: 1
